<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
    span {
        color: blue;
        font-weight: 700;
    }
    </style>
</head>
<body>
    <div><span><%= postResult.username %></span>님 환영합니다!</div>
    <div>성별은 <span><%= postResult.gender %></span>이군요!!</div>
    <div>생년월일은 <span><%= postResult.birthYear %>년</span> <span><%= postResult.birthMonth %>월</span> <span><%= postResult.birthDay %>일</span>이군요!!</div>
    <div>관심사는 <span><%= postResult.hobby%></span>이군요!!</div>
    <div>좋아하는 색은 <span><%= postResult.myColor%></span>이군요!!</div>
    <div>좋아하는 숫자는 <span><%= postResult.myNumber%></span>이군요!!</div>
    

    <br />
    <br />
    <a href="/">홈으로 이동하기</a>
</body>
</html>